div.doxymw_infobox
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#F9F9F9;
	border-width:1px;
	border-color:#AAAAAA;
	border-style:solid;
	padding:4px;
	margin-left:1em;
	margin-bottom:0.5em;
	float:right;
	clear:right;
	font-size:1.2em;
	max-width:250px;
}
div.doxymw_infobox > div
{
	margin-top:4px;
}
div.doxymw_infobox > div.head
{
	font-weight:bold;
	text-align:center;
}
div.doxymw_infobox div.doxymw_nav
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-width:1px;
	border-color:#AAAAAA;
	border-style:solid;
	background-color:#F9F9FF;
	padding:2px;
	padding-top:6px;
	padding-bottom:6px;
}
div.doxymw_infobox div.doxymw_nav div
{
	text-align:center;
}
div.doxymw_infobox div.doxymw_nav div:nth-child(2n)
{
	font-size:0.65em;
}
span.doxymw_type
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding:0;
	padding-left:0.3em;
	padding-right:0.3em;
}
span.doxymw_typeCLASS { background-color:#FFDDDD; }
span.doxymw_typeINTERFACE { background-color:#DDFFDD; }
span.doxymw_typeNAMESPACE { background-color:#FFFFDD; }
span.doxymw_typeMEMBERS { background-color:#DDDDFF; }
span.doxymw_typeOTHER { background-color:#DDDDDD; }
span.doxymw_type:hover { background-color:#E5E5E5; }